# Setuptools version restriction to avoid numpy.distutils issues
setuptools<60.0

# Torch and related dependencies
torch==2.0.0
torchvision==0.15.0
# CMake for building dependencies like dlib
cmake==3.24.2

# dlib installation
dlib==19.24.0
# Other required dependencies
sentence-transformers==2.2.2
scikit-learn==1.0.2
opencv-python==4.5.4.58
fastapi==0.95.1
uvicorn==0.20.0
ftfy==6.1
regex==2022.3.15
tqdm==4.64.0

# Git dependencies
git+https://github.com/openai/CLIP.git


# Other dependencies as required
